In [1]:
import sys, os, time
from pathlib import Path
sys.path.append(os.path.dirname(os.getcwd()) + '/processor') # add hextof-processor to path
from DldFlashDataframeCreatorNew import DldFlashProcessorNew

### Create class instance

In [2]:
dfc = DldFlashProcessorNew()
# dfc.
# dfc.savetoParquet('/asap3/flash/gpfs/pg2/2020/data/11008860/processed/zain', run_number = 35933, daq = "fl1user2")

### Check all available channels

### Create a two channel dataframe from a single h5 file

In [3]:
# %%timeit
# Define the channels
dfc.channels = ['dldTime', 'dldPosX']
# H5 file path
path = Path("/asap3/flash/gpfs/pg2/2020/data/11008860/raw/hdf/express/FLASH1_USER2_stream_2_run35971_file25_20201128T230926.1.h5")
# Use class method to create dataframe
df1 = dfc.createDataframePerFile(path)

In [6]:
df1

                              dldTime dldPosX
trainId   pulseId electronId
918393840 0       0           35026.0   827.0
                  1           35031.0   829.0
                  2           36662.0   841.0
                  3           36655.0   847.0
          2       0           33349.0   643.0
...                               ...     ...
918395812 484     1           37192.0   653.0
          489     0           38797.0   616.0
                  1           38796.0   610.0
          490     0           35031.0   734.0
                  1           35026.0   740.0

[1383376 rows x 2 columns]

In [5]:
# Define the channels
test.channels = ['bam', 'opticalDiode', 'dldTime', 'dldPosX']
# H5 file path
path = Path("/asap3/flash/gpfs/pg2/2020/data/11008860/raw/hdf/express/FLASH1_USER2_stream_2_run35971_file25_20201128T230926.1.h5")
# Use class method to create dataframe
df1_ = test.createDataframePerFile(path)
df1_

                              bam opticalDiode dldTime dldPosX
trainId   pulseId electronId
918393840 0       NaN         NaN     0.557907     NaN     NaN
          1       NaN         NaN     0.305433     NaN     NaN
          2       NaN         NaN     0.375793     NaN     NaN
          3       NaN         NaN     0.372045     NaN     NaN
          4       NaN         NaN     0.432283     NaN     NaN
...                           ...          ...     ...     ...
918395813 797     NaN         0.0          NaN     NaN     NaN
          798     NaN         0.0          NaN     NaN     NaN
          799     NaN         0.0          NaN     NaN     NaN
          800     NaN         0.0          NaN     NaN     NaN
          801     NaN         0.0          NaN     NaN     NaN

[2486153 rows x 4 columns]

In [10]:
df1_

                              bam opticalDiode dldTime dldPosX
trainId   pulseId electronId
918393840 0       NaN         NaN     0.557907     NaN     NaN
          1       NaN         NaN     0.305433     NaN     NaN
          2       NaN         NaN     0.375793     NaN     NaN
          3       NaN         NaN     0.372045     NaN     NaN
          4       NaN         NaN     0.432283     NaN     NaN
...                           ...          ...     ...     ...
918395813 797     NaN         0.0          NaN     NaN     NaN
          798     NaN         0.0          NaN     NaN     NaN
          799     NaN         0.0          NaN     NaN     NaN
          800     NaN         0.0          NaN     NaN     NaN
          801     NaN         0.0          NaN     NaN     NaN

[2486153 rows x 4 columns]

In [11]:
df1_.dropna()

                                   bam opticalDiode  dldTime dldPosX
trainId   pulseId electronId
918393841 8       0.0        -1.584493     0.460001  35472.0   603.0
                  1.0        -1.584493     0.460001  35467.0   605.0
                  2.0        -1.584493     0.460001  38629.0   651.0
                  3.0        -1.584493     0.460001  38646.0   651.0
          9       0.0        -1.600086     0.357143  35146.0   827.0
...                                ...          ...      ...     ...
918395812 469     1.0        -1.619706     0.539773  34786.0   763.0
          476     0.0        -1.610296     0.245023  37029.0   655.0
                  1.0        -1.610296     0.245023  37030.0   658.0
          479     0.0        -1.609703     0.397631  35269.0   659.0
                  1.0        -1.609703     0.397631  35278.0   660.0

[1361759 rows x 4 columns]

In [58]:
pd.read_parquet('parquet_dirtest')

           trainId  pulseId       bam  opticalDiode  dldTime  dldPosX
0        918393840      0.0       NaN      0.557907      0.0      0.0
1        918393840      0.0       NaN      0.557907      0.0      0.0
2        918393840      0.0       NaN      0.557907      0.0      0.0
3        918393840      0.0       NaN      0.557907      0.0      0.0
4        918393840      0.0       NaN      0.557907      0.0      0.0
...            ...      ...       ...           ...      ...      ...
2552292  918395813    494.0 -1.662413           NaN      NaN      NaN
2552293  918395813    495.0 -1.647938           NaN      NaN      NaN
2552294  918395813    496.0 -1.622179           NaN      NaN      NaN
2552295  918395813    497.0 -1.604044           NaN      NaN      NaN
2552296  918395813    498.0 -1.545631           NaN      NaN      NaN

[2552297 rows x 6 columns]

In [57]:
# pd.merge(*test.createDataframePerFile(path), left_index=True, right_index=True, how="outer")

# Merges the data, moves the indexes to columns, and 
# saves to parquet in given directory
# pd.merge is the same as df1.join(df2, 'outer')
pd.merge(*test.createDataframePerFile(path), left_index=True, 
    right_index=True, how="outer").reset_index(level=['trainId', 'pulseId']
    ).to_parquet('parquet_dir' + 'test', compression = None, 
    index = False)

In [52]:

df1_.reset_index(level=['trainId', 'pulseId']).to_parquet(
    '/asap3/flash/gpfs/pg2/2020/data/11008860/processed/zain/run35971_file25_20201128T23092_pulse', compression = None, index = False)

df2_.reset_index(level=['trainId', 'pulseId']).to_parquet(
    '/asap3/flash/gpfs/pg2/2020/data/11008860/processed/zain/run35971_file25_20201128T23092_el', compression = None, index = False)

df_combined_.reset_index(level=['trainId', 'pulseId']).to_parquet(
    '/asap3/flash/gpfs/pg2/2020/data/11008860/processed/zain/run35971_file25_20201128T23092_joined', compression = None, index = False)

In [45]:
pd.read_parquet('test')

           trainId  pulseId       bam  opticalDiode  dldTime  dldPosX
0        918393840        0       NaN      0.557907      0.0      0.0
1        918393840        0       NaN      0.557907      0.0      0.0
2        918393840        0       NaN      0.557907      0.0      0.0
3        918393840        0       NaN      0.557907      0.0      0.0
4        918393840        0       NaN      0.557907      0.0      0.0
...            ...      ...       ...           ...      ...      ...
1452819  918395812      492 -1.638175           NaN  37192.0    653.0
1452820  918395812      497 -1.590156           NaN  38797.0    616.0
1452821  918395812      497 -1.590156           NaN  38796.0    610.0
1452822  918395812      498 -1.535106           NaN  35031.0    734.0
1452823  918395812      498 -1.535106           NaN  35026.0    740.0

[1452824 rows x 6 columns]

In [ ]:
%%timeit
# Define the channels both pulse and electron resolved
test.channels = ['bam']
# H5 file path
path = Path("/asap3/flash/gpfs/pg2/2020/data/11008860/raw/hdf/express/FLASH1_USER2_stream_2_run35971_file25_20201128T230926.1.h5")
# Use class method to create dataframe
df1, df2 = test.createDataframePerFile(path)

In [8]:
# %%timeit
# Define the channels both pulse and electron resolved
test.channels = ['bam']
# H5 file path
path = Path("/asap3/flash/gpfs/pg2/2020/data/11008860/raw/hdf/express/FLASH1_USER2_stream_2_run35971_file25_20201128T230926.1.h5")
h5_file = h5py.File(path, "r")
# Use class method to create dataframe
[train_id, np_array] = test.createNumpyArrayPerChannel(h5_file, 'bam')
# df1 = test.createDataframePerChannel(h5_file, 'bam')
# df1

In [4]:
test.channels = ['gmdTunnel', 'dldTime', 'dldPosX']
test.savetoParquet('/asap3/flash/gpfs/pg2/2020/data/11008860/processed/zain/', run_number = 35971, daq = "fl1user2")

In [10]:
'gmdTunnel'

(1973, 802)

array([[-1.387323 , -1.4213984, -1.4610565, ..., -1.6301757, -1.5897057,
        -1.539961 ],
       [-1.4019483, -1.4270496, -1.4800905, ..., -1.6219943, -1.5880085,
        -1.5417342],
       [-1.392081 , -1.4356325, -1.4754845, ..., -1.6252786, -1.5912958,
        -1.5370165],
       ...,
       [-1.4044706, -1.4420236, -1.4855266, ..., -1.622909 , -1.5898741,
        -1.5430996],
       [-1.3638942, -1.4015998, -1.4437642, ..., -1.6260743, -1.5901557,
        -1.535106 ],
       [-1.3668437, -1.4080552, -1.4465597, ..., -1.6221788, -1.6040441,
        -1.5456312]], dtype=float32)

In [20]:
empty = np.full((np_array.shape[0], 499), np.nan)
empty.flat[:len(np_array)] = np_array[:, :499]

In [64]:
empty.flat[:len(np_array)] = np_array[:, :499]

In [15]:
np_array = np_array[:, :499]

In [17]:
df_test = (pd.Series((np_array[i] for i in train_id.index), name='bam')
                .explode()
                .to_frame()
                .set_index(test.index_per_pulse))

In [18]:
df_test

                        bam
trainId   pulseId
918393840 0       -1.387323
          1       -1.421398
          2       -1.461056
          3       -1.514044
          4       -1.542014
...                     ...
918395812 494     -1.662413
          495     -1.647938
          496     -1.622179
          497     -1.604044
          498     -1.545631

[984527 rows x 1 columns]

### Show all filepaths from a single run

In [ ]:
# Give run number and the daq 
test.runFilesNames(run_number = 35865, daq = "fl1user2")

### Create a two channel dataframe from a single run

In [3]:
# %%timeit
# Give run number and the daq 
test.channels = ['gmdTunnel', 'dldTime', 'dldPosX']
df1, df2 = test.createDataframePerRun(run_number = 35865, daq = "fl1user2")

In [3]:
test.channels = ['gmdTunnel', 'dldTime', 'dldPosX']
dfs = test.createDataframePerRun(run_number = 35971, daq = "fl1user2")

In [22]:
for i in len(dfs):
    pd.merge(dfs[i][0], dfs[i][1], left_index=True, 
    right_index=True, how="outer").reset_index(level=['trainId', 'pulseId']
    ).to_parquet(parquet_dir + str(self.run_number) + '_' + str(i), compression = None, 
            index = False)

                   dldTime dldPosX
trainId   pulseId
918399757 8.0      34684.0   749.0
          8.0      35307.0   562.0
          8.0      35886.0   800.0
          12.0     30757.0   654.0
          13.0     38135.0   808.0
...                    ...     ...
918400543 NaN          NaN     NaN
          NaN          NaN     NaN
          NaN          NaN     NaN
          NaN          NaN     NaN
          NaN          NaN     NaN

[872783 rows x 2 columns]

In [16]:
pd.merge(dfs[0][0], dfs[0][1], left_index=True, 
    right_index=True, how="outer").reset_index(level=['trainId', 'pulseId']
    )

           trainId  pulseId gmdTunnel dldTime dldPosX
0        918346394      0.0  0.293093     NaN     NaN
1        918346394      1.0  0.668944     NaN     NaN
2        918346394      2.0  0.586468     NaN     NaN
3        918346394      3.0  0.621516     NaN     NaN
4        918346394      4.0  0.562544     NaN     NaN
...            ...      ...       ...     ...     ...
2802102  918348418      NaN       NaN     NaN     NaN
2802103  918348418      NaN       NaN     NaN     NaN
2802104  918348418      NaN       NaN     NaN     NaN
2802105  918348418      NaN       NaN     NaN     NaN
2802106  918348418      NaN       NaN     NaN     NaN

[2802107 rows x 5 columns]

In [35]:
df1_foo

                  opticalDiode   delayStage gmdTunnel
trainId   pulseId
918346330 0                NaN  1869.526001       NaN
          1                NaN  1869.526001       NaN
          2                NaN  1869.526001       NaN
          3                NaN  1869.526001       NaN
          4                NaN  1869.526001       NaN
...                        ...          ...       ...
918400544 494              NaN  1869.394043  0.982493
          495              NaN  1869.394043  0.842173
          496              NaN  1869.394043   0.84213
          497              NaN  1869.394043  1.362291
          498              NaN  1869.394043  1.134292

[27027836 rows x 3 columns]

In [10]:
df_merged = pd.concat([df1, df2], axis=1)
df_merged

ValueError: Reindexing only valid with uniquely valued Index objects

In [37]:

df1_foo.reset_index(level=['trainId', 'pulseId']).to_parquet(
    '/asap3/flash/gpfs/pg2/2020/data/11008860/processed/zain/test_pulse', compression = None, index = False)

In [ ]:
# Give run number and the daq 
tik = time.time()
df1, df2 = test.createDataframePerRun(run_number = 35865, daq = "fl1user2")
tok = time.time()
print(f'time elapsed: {tok-tik:.3f} s')

In [7]:
import numpy as np

In [8]:
import pandas as pd
import h5py

In [ ]:
test = pd.DataFrame(np.array((np.arange(0, 100), np.arange(50, 50), np.arange(0, 50), np.arange(0, 50))))

In [ ]:
test.explode(0)

# Test on real run

In [ ]:
test = DldFlashProcessorNew("/asap3/flash/gpfs/pg2/2020/data/11008860/raw/hdf/express/")

In [ ]:
# Give run number and the daq 
tik = time.time()
test.channels = ['dldTime', 'gmdTunnel', 'dldPosX','dldPosY','delayStage']#,'bam','delayStage'

df1_, df2_ = test.createDataframePerRun(run_number = 35933, daq = "fl1user2")
tok = time.time()
print(f'time elapsed: {tok-tik:.3f} s')

In [ ]:
len(test.runFilesNames(run_number = 35933, daq = "fl1user2"))

In [ ]:
df1

In [ ]:
df2.where(df2.dldTime>0).dropna()

In [ ]:
35240795-35260862

In [ ]:
test = DldFlashProcessorNew(
    "/asap3/flash/gpfs/pg2/2020/data/11008860/raw/hdf/express/",
    channels = '../processor/channels.json')

In [ ]:
# Define the channels both pulse and electron resolved
test.channels = ['dldTime', 'gmdTunnel', 'dldPosX','dldPosY']#,'delayStage']#,'bam','delayStage'
# H5 file path
path = Path("/asap3/flash/gpfs/pg2/2020/data/11008860/raw/hdf/express/FLASH1_USER2_stream_2_run35933_file2_20201127T104509.1.h5")
# Use class method to create dataframe
df1, df2 = test.createDataframePerFile(path)

In [ ]:
df1.loc[917083394]

In [ ]:
df2

In [ ]:
test.all_channels

In [ ]:
import h5py#"/asap3/flash/gpfs/pg2/2020/data/11008860/raw/hdf/express/FLASH1_USER2_stream_2_run35933_file2_20201127T104509.1.h5"

In [ ]:
f = h5py.File("/asap3/flash/gpfs/pg2/2020/data/11008860/raw/hdf/express/FLASH1_USER2_stream_2_run35933_file2_20201127T104509.1.h5")
v = f['/FL1/Experiment/PG/Hextof/Detector/monitor/value']

In [ ]:
v.chunks

In [ ]:
f.close()

# Read data

In [ ]:
prc = DldFlashProcessor(read_mode='online')

In [ ]:
prc.dd = 
prc.ddMicrobunches